@foreach ( var item in ViewBag.Classes)
{

    <div class="card mb-3 card-group" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src=@item.Picture class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@item.Description</p>
                    <div>@item.Style.Name</div>

                    <div>@item.Studio.Name</div>

                    <div>@item.Price</div>

                    <div>@item.Instructor.Name</div>

                    <div>@item.Rating</div>
                    <a href="/Classes/Show/@item.Id">Afisare clasa</a>
                </div>
            </div>
        </div>
    </div>




}