<body style="background-color: #B0E0E6;">
  <!--  <a href="/Classes/Bar" class="btn btn-outline-dark" style="margin-left:50px; margin-top:10px">Bara de cautare</a> -->
    <form asp-area="" asp-controller="Classes" asp-action="Index">
    <div class="form-group">
        <label for="SearchString">Search by partial title</label> 
        <input type="text" class="form-control" name="SearchString" value="@ViewData["CurrentFilter"]" />
        <input type="submit" value="Search" class="btn btn-outline-primary" />
    </div>

</form>

    <div class="bg-light mt-3 p-3">
        <vc:cart/>
    </div>

    <a href="/Classes/order1" class="btn btn-outline-dark" style="margin-left:50px; margin-top:10px">Order Ascending by Price</a>
    <a href="/Classes/order" class="btn btn-outline-dark" style="margin-left:50px; margin-top:10px">Order Descending by Price</a>

<div>
    @if(ViewBag.ok)
    {
    @foreach(var item in ViewBag.Clasa)
    {
        <div class="row">
            @if (item.Valid)
            {
                <div class="col-md-4 col-xs-6 border-primary mb-3" style="">

                    <div class="card mb-3">
                        <div class="row g-0">

                            <div class="col-md-6">
                                <img src=@item.Picture class="img-fluid rounded-start" nalt="...">
                            </div>

                            <div class="col-md-6">


                                <div class="card-body ">
                                    <h5 class="card-title">@item.Name</h5>
                                    <p class="card-text">@item.Description</p>
                                    <div>Style: @item.Style.Name</div>

                                    <div>Studio: @item.Studio.Name</div>

                                    <div>Price: @item.Price $</div>

                                    <div>Instructor: @item.Instructor.Name</div>

                                    <div>@item.Rating</div>

                                    <!--     <div><i class="bi bi-person">item.User.UserName</i> </div>-->
                                </div>
                                <a href="/Classes/Show/@item.Id" class="btn btn-outline-dark" style="margin-left:50px; margin-top:10px">Show Class</a>
                                        
                                
                                <a class="btn btn-outline-info" style="margin-left:50px; margin-top:10px">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart2" viewBox="0 0 16 16">
                                                <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z" />
                                            </svg>
                                            Add to Cart</a>

                            </div>

                        </div>
                    </div>
                </div>
            }
            </div>
    }
       }

</div>

    <h2 style="font-style:italic; color: black; font-size: 30px">AVAILABLE CLASSES</h2>
    <!--
    <div class="d-flex justify-content-center">
        <a class ="btn btn-outline-dark"  href="/Styles/Index">See styles</a>

        <a class ="btn btn-outline-dark" href="/Classes/New">Add Class</a>
        </div>
    -->
    <br />
    <br />

    <div class="row">
        @foreach (var item in ViewBag.Classes)
        {

            @if (item.Valid)
            {
                <div class="col-md-4 col-xs-6 border-primary mb-3" style="">



                    <div class="card mb-3" style="">
                        <div class="row g-0">

                            <div class="col-md-6">
                                <img src=@item.Picture class="img-fluid rounded-start" nalt="...">
                            </div>

                            <div class="col-md-6">


                                <div class="card-body">
                                    <h5 class="card-title">@item.Name</h5>
                                    <p class="card-text">@item.Description</p>
                                    <div>Style: @item.Style.Name</div>

                                    <div>Studio: @item.Studio.Name</div>

                                    <div>Price: @item.Price $</div>

                                    <div>Instructor: @item.Instructor.Name</div>

                                    <div>@item.Rating</div>

                                    <!--     <div><i class="bi bi-person">item.User.UserName</i> </div>--> 
                                </div>
                                <a href="/Classes/Show/@item.Id" class="btn btn-outline-dark" style="margin-left:50px; margin-top:10px">Show Class</a>
                                <a class="btn btn-outline-info" style="margin-left:50px; margin-top:10px" asp-controller="ShoppingCart" asp-action="Add" asp-route-id=@item.Id>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart2" viewBox="0 0 16 16">
                                        <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z" />
                                    </svg>
                                    Add to Cart</a>


                            </div>

                        </div>
                    </div>
                </div>
            }






        }
    </div>
</body>