@model AM_DanceStudio.Models.Class

<h2 class="text-center mt-5">Add class</h2>
<br />
<div class="container mt-5">
    <div class="row">
        <div class="col-6 offset-3">

            @using (Html.BeginForm(actionName: "New", controllerName: "Classes",
            method: FormMethod.Post))
            {

                @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                @Html.Label("Name", "Name")
                <br />
                @Html.TextBox("Name", null, new { @class = "form-control" })

                @Html.ValidationMessage("Name", new { @class = "text-danger" })
                <br />

                <br />

                @Html.Label("Description", "Descriere curs")
                <br />
                @Html.TextArea("Description", null, new { @class = "form-control" })

                @Html.ValidationMessage("Description", null, new { @class = "text-danger" })
                <br />

                <br />

                <label>Select style</label>
                @Html.DropDownListFor(m => m.StyleId, new SelectList(Model.Stil, "Value", "Text"),
            "Select style", new { @class = "form-control" })

                @Html.ValidationMessageFor(m => m.StyleId, null, new { @class = "text-danger" })
                <br />

                <br />


                <label>Select instructor</label>
                @Html.DropDownListFor(m => m.InstructorId, new SelectList(Model.Ins, "Value", "Text"),
            "Select instructor", new { @class = "form-control" })

                @Html.ValidationMessageFor(m => m.InstructorId, null, new { @class = "text-danger" })
                <br />

                <br />


                <label>Select studio</label>
                @Html.DropDownListFor(m => m.StudioId, new SelectList(Model.St, "Value", "Text"),
            "Select studio", new { @class = "form-control" })

                @Html.ValidationMessageFor(m => m.StudioId, null, new { @class = "text-danger" })
                <br />

                <br />

                <label>Price</label>
                <input type="number" name="Price" />
                <br />
                <br />

                <label>Picture</label>
                <input type="text" name="Picture" />
                <br />
                <br />

                <label>Rating</label>
                <input type="text" name="Rating" />
                <br />
                <br />

                <button class="btn btn-success" type="submit">Add </button>

            }

        </div>
    </div>
</div>

