

    <div class="col-md-4 col-xs-6 border-primary mb-3">



        <div class="card mb-3" style="max-width: 540px;"> 
        <div class="row g-0">
            <div class="col-md-6">
                <img src=@ViewBag.Class.Picture class="img-fluid rounded-start" alt="...">
            </div>


            <div class="col-md-6">
                <div class="card-body">
                    <h5 class="card-title">@ViewBag.Class.Name</h5>
                    <p class="card-text">@ViewBag.Class.Description</p>
                    <div><span style="font-style:italic; font-weight:bold;">Style:</span> @ViewBag.Style.Name</div>

                    <div>Studio: @ViewBag.Studio.Name</div>

                    <div>Price: @ViewBag.Class.Price $</div>

                    <div>Instructor: @ViewBag.Instructor.Name</div>

                    <div><span style="font-style:italic; font-weight:bold;">Rating:</span> @ViewBag.Class.Rating</div>
                    <div style="font-style:italic">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z" />
                        </svg>
                        @ViewBag.Class.User.UserName
                    </div>

                </div>
                

            </div>
            
                </div>
               
        </div>




        <a href="/Classes/Index/" class="btn btn-info">Home</a>
    
        @if(ViewBag.AfisareButoane == true && ViewBag.Class.UserId == ViewBag.UserCurent || ViewBag.EsteAdmin)
    {
        <div class="d-flex flex-row justify-content-between">
            <br />


            <a class="btn btn-primary" href="/Classes/Edit/@ViewBag.Class.Id">Edit Class</a>
            <form method="post" action="/Classes/Delete/@ViewBag.Class.Id">
                <button class="btn btn-danger" type="submit">Delete Class</button>
            </form>



        </div>
    }

    
    </div>



    <br/>
    <br/>
     

@*afisare review uri + butoane edit & delete*@
@* 
@foreach (var review in ViewBag.Reviews)
{

    <div class="container" style="background-color:aliceblue">
        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-8">
                <div class="" style="background-color:#FAFAD2">
                <div>
                    
                    <p>@review.Text</p>
                    <small>@review.Date</small>
                    <strong><i class="bi bi-person"></i>@review.User.UserName</strong>
                </div>

                <br />

                <div class="d-flex">
                    <div>

                        <a class="btn btn-outline-primary" href="/Reviews/Edit/@review.Id">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                            </svg>
                            Edit
                        </a>

                    </div>

                    <div>
                        <form method="post" action="/Reviews/Delete/@review.Id">
                            <button class="btn btn-outline-danger" type="submit">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                                </svg>
                                Delete
                            </button>
                        </form>
                    </div>

                </div>
                </div>


                <div class="col-md-2"></div>
            </div>

        </div>
    </div>
   }
*@
@foreach (var review in ViewBag.Reviews)
{
    <br />
    <div class="card p-3" style="align-content:center">

        <div class="d-flex justify-content-between align-items-center">

            <div class="user d-flex flex-row align-items-center">

       
                <span><small class="font-weight-italic text-primary" style="font-style:italic;font-weight:bold ">@review.User.UserName</small> 
                    <br />
                    <small class="font-weight-bold">@review.Text</small></span>

            </div>


            <small>@review.Date</small>

        </div>


        <div class="action d-flex justify-content-between mt-2 align-items-center">

            <div class="d-flex align-items-center">
                <div>

                    <a class="btn btn-outline-primary btn-sm" href="/Reviews/Edit/@review.Id">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                        </svg>
                        Edit
                    </a>

                </div>

                <div>
                    <form method="post" action="/Reviews/Delete/@review.Id">
                        <button class="btn btn-outline-danger btn-sm" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                            </svg>
                            Delete
                        </button>
                    </form>
                </div>

            </div>
        </div>

            <div class="icons align-items-center">

                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-check-circle-o check-icon"></i>

            </div>

        </div>



    
}

     <br />

<div class="card">

    <div class="row">

        <div class="col-2">


            <img src="https://st.depositphotos.com/1186033/4211/i/600/depositphotos_42113795-stock-photo-review.jpg" width="70" class="rounded-circle mt-2">


        </div>

        <div class="col-10">

            <div class="comment-box ml-2">

                <h4>Add a review</h4>

                <div class="rating">
                    <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                    <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                    <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                    <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                    <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                </div>

                <div class="comment-area">

                    <form method="post" action="/Classes/Show/@ViewBag.Class.Id">

                        <div class="card-body">

                            <input type="hidden" name="ClassId" value="@ViewBag.Class.Id">

                            <br />

                            <textarea class="form-control" placeholder="What is your review?" name="Text" rows="4"></textarea>
                            <br />
                            @Html.ValidationMessage("Content", null, new { @class = "text-danger"})

                            <button class="btn btn-outline-success" type="submit">Add review</button>

                        </div>

                    </form>

                </div>



                <div class="comment-btns mt-2">

                    <div class="row">

                        <div class="col-6">


                        </div>

                        <div class="col-6">

                            <div class="pull-right">

                                

                            </div>

                        </div>

                    </div>

                </div>


            </div>

        </div>


    </div>

</div>

<style>

html
body {
    height: 100%
}

body {
    display: grid;
   place-items: center;
    font-family: 'Manrope', sans-serif;
   background: red;

}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    padding: 20px;
    width: 450px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 6px;
    -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1)
}

.comment-box{

    padding:5px;
}



.comment-area textarea{
   resize: none; 
        border: 1px solid #ad9f9f;
}


.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ffffff;
    outline: 0;
    box-shadow: 0 0 0 1px rgb(255, 0, 0) !important;
}

.send {
    color: #fff;
    background-color: #ff0000;
    border-color: #ff0000;
}

.send:hover {
    color: #fff;
    background-color: #f50202;
    border-color: #f50202;
}


.rating {
 display: flex;
        margin-top: -10px;
    flex-direction: row-reverse;
    margin-left: -4px;
        float: left;
}

.rating>input {
    display: none
}

.rating>label {
        position: relative;
    width: 19px;
    font-size: 25px;
    color: #ff0000;
    cursor: pointer;
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}
</style>

@*Afisare formular de adaugare comm*@
<!--
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-8">

                <div class="card">

                    <form method="post" action="/Classes/Show/@ViewBag.Class.Id">

                        <div class="card-body">

                            <input type="hidden" name="ClassId" value="@ViewBag.Class.Id">

                            <label>Continut review</label>
                            <br/>

                            <textarea class="form-control" name="Text"></textarea>
                            <br/>
                        Html.ValidationMessage("Content", null, new { class = "text-danger"})

                            <button class="btn btn-success" type="submit">Add review</button>

                        </div>

                    </form>

                </div>

            </div>

                <div class="col-md-2"></div>
         </div>

     </div>
 *-->
